# Dependencies
node_modules/

# Next.js
/.next/
/out/

# Python virtual env
.venv/
__pycache__/

# Environment variables!
.env.local

# OS junk
.DS_Store
.vscode/
.idea/

# production
/build

# typescript
*.tsbuildinfo
next-env.d.ts
